{{template "header" .}}

<body>
	{{template "loader" .}}
	<div class="intro">
		<form method="post">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/lock.svg" alt="Login Lock" width="24" height="24" />
				</div>
				<input hidden value="1" type="number" name="confirmed" />
				<input hidden id="identity_id" type="text" name="identity_id" />
				<div name="header" class="header">
					<h2>Sign in with Socious ID</h2>
					<span class="text-grey leading-6">Choose an account</span>
					<button data-event="logout" type="button" theme="primary-outline">Or login with other account</button>
				</div>
				<div name="content-section" class="section">
					<div name="individual" class="consent-account-label">
						Your individual profile
						<button type="button" class="consent-account" data-event="select-account" data-identity-id="{{ .User.ID }}">
							{{ if .User.Avatar }}
								<img src="{{ .User.Avatar.URL }}" alt="Profile Image" width="40" height="40" />
							{{ else }}
								<img src="/statics/images/avatar-default.jpg" alt="Profile Image" width="40" height="40" />
							{{ end }}
							<div class="consent-account-name">
								{{ .User.FirstName }} {{ .User.LastName }}
								<span class="consent-account-email">@{{ .User.Username }}</span>
							</div>
						</button>
						{{if .error}}
						<p style="color: red">{{.error}}</p>
						{{end}}
					</div>
					<div name="organization" class="consent-account-label">
						Your organization profiles
						<div class="consent-accounts">
							{{ range .Organizations }}
							<button type="button" class="consent-account" data-event="select-account" data-identity-id="{{ .ID }}">
								{{ if .Logo }}
									<img src="{{ .Logo.URL }}" alt="Profile Image" width="40" height="40" />
								{{ else }}
									<img src="/statics/images/logo-default.png" alt="Profile Image" width="40" height="40" />
								{{ end }}
								<div class="consent-account-name">
									{{.Name}}
									<span class="consent-account-email">@{{.Shortname}}</span>
								</div>
							</button>
							{{ end }}
						</div>
					</div>
					<a href="/organizations/register/pre"><button type="button" theme="primary-outline">Create organization</button></a>					
				</div>
			</div>
		</form>
	</div>
</body>

{{ template "footer" . }}
