{{template "header" .}}

<body>
	{{template "loader" .}}
	<form method="post">
		<div class="intro">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/key.svg" alt="Login Lock" width="24" height="24" />
				</div>
				<div name="header" class="header">
					<h2 data-i18n="forget-header">Forgot password?</h2>
					<span data-i18n="forget-subheader" class="text-grey leading-6">
						No worries, we’ll send you reset instructions.
					</span>
				</div>
				<div name="content-section" class="section">
					<div class="input-label">
						<label data-i18n="forget-email-label" for="email">Email*</label>
						<input
							data-i18n-placeholder="forget-email-placeholder"
							placeholder="Enter your email"
							type="email"
							id="email"
							name="email"
							autocomplete="email"
							data-event="validate-email"
						/>
					</div>
				</div>
				<div name="button-section" class="section">
					<button data-i18n="forget-reset" type="submit" theme="primary" disabled>Reset password</button>
					<a href="/auth/login">
						<button type="button" theme="grey-text">
							<img src="/statics/icons/arrow-left.svg" width="20" height="20" />
							<span data-i18n="forget-back-signin">Back to sign in</span>
						</button>
					</a>
					{{if .error}}
					<p style="color: red">{{.error}}</p>
					{{end}}
				</div>
			</div>
		</div>
	</form>
</body>

{{template "footer" .}}