{{define "header"}}
<!DOCTYPE html>
  <html>

  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/png" href="/statics/favicon.png" />
      <title>Socious ID | {{ .Title }}</title>
      <link rel="stylesheet" href="/statics/css/main.css">
      <link rel="stylesheet" href="/statics/css/intro.css">
      <link rel="stylesheet" href="/statics/css/otp.css">
      <link rel="stylesheet" href="/statics/css/consent.css">
      <script type="text/javascript" src="/statics/js/otp.js"></script>
      <script type="text/javascript" src="/statics/js/signup.js"></script>
      <script type="text/javascript" src="/statics/js/password.js"></script>
      <script type="text/javascript" src="/statics/js/create-profile.js"></script>
  </head>
{{end}}


