{{define "header"}}
<!DOCTYPE html>
  <html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/statics/favicon.png" nonce="{{.nonce}}" />
    <title>Socious ID</title>
    <link rel="stylesheet" href="/statics/css/loader.css" nonce="{{.nonce}}">
    <link rel="stylesheet" href="/statics/css/main.css" nonce="{{.nonce}}">
    <link rel="stylesheet" href="/statics/css/intro.css" nonce="{{.nonce}}">
    <link rel="stylesheet" href="/statics/css/otp.css" nonce="{{.nonce}}">
    <link rel="stylesheet" href="/statics/css/consent.css" nonce="{{.nonce}}">
    <script type="text/javascript" src="/statics/js/topbar.min.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/loader.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/otp.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/signin.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/signup.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/password.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/create-profile.js" nonce="{{.nonce}}"></script>
    <script type="text/javascript" src="/statics/js/init.js" nonce="{{.nonce}}"></script>
  </head>
{{end}}


