{{template "header" .}}

<body>
	<form method="post">
		<div class="intro">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/lock.svg" alt="Login Lock" width="24" height="24" />
				</div>
				<div name="header" class="header">
					<h2>Sign in with Socious ID</h2>
					<span class="text-grey leading-6">Your access for all your impact platforms</span>
				</div>
				<div name="content-section" class="section">
					<input placeholder="Enter your email" type="email" name="email" autocomplete="email" />
					<input
						placeholder="Enter your password"
						type="password"
						name="password"
						autocomplete="current-password"
					/>
					<a class="self-end" href="/auth/password/forget">Forget password?</a>
				</div>
				<div name="button-section" class="section">
					<button type="submit" theme="primary">Sign in</button>
					<div class="separator">
						<div class="separator-text">OR</div>
					</div>
					<button type="button" theme="secondary-outline">
						<img src="/statics/icons/google.svg" alt="Google" width="24" height="24" />
						Continue with Google
					</button>
					<a href="/auth/register/pre"><button type="button" theme="primary-outline">Create account</button></a>
				</div>
			</div>
		</div>
	</form>
</body>

{{ template "footer" . }}
