{{template "header" .}}
<body data-event="display-email">
    {{template "loader" .}}
    <form action="/auth/otp/confirm" method="get">
        <div class="intro">
            <div class="card">
                <div class="logo">
                    <img src="/statics/icons/mail.svg" alt="Login Lock" width="24" height="24"/>
                </div>
                <div name="header" class="header">
                    <h2 data-i18n="otp-header">Check your email</h2>
                    <div class="flex flex-col">
                        <span data-i18n="otp-subheader" class="text-grey leading-6">
                            We sent a verification code to
                        </span>
                        <span class="text-primary font-medium leading-6" id="user-email">{{.email}}</span>
                    </div>
                </div>
                <div name="content-section" class="section">
                    <div class="otp-container">
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                    </div>
                </div>
                <input type="text" name="code" hidden value="" />
                <input type="text" name="email" hidden value="{{.email}}" />

                <div name="button-section" class="section">
                    <button data-i18n="otp-verify-button" type="submit" theme="primary" disabled>Verify email</button>
                </div>
                <span class="text-sm text-grey text-center">
                    <span data-i18n="otp-didn't-receive">Didn’t receive the email? </span>
                    <a data-i18n="otp-resend" class="font-semibold text-primary">Click to resend</a>
                </span>
                <div class="steps font-semibold">
                    <span data-i18n="otp-find-code">Can't find the code?</span>
                    <ol class="text-sm font-normal text-grey leading-5">
                        <li data-i18n="otp-find-code-step1">Check your spam folder</li>
                        <li data-i18n="otp-find-code-step2">Make sure you entered the correct email</li>
                        <li data-i18n="otp-find-code-step3">Codes expire after 10 minutes</li>
                    </ol>
                    {{if .error}}
                    <p style="color: red">{{.error}}</p>
                    {{end}}
                </div>
                <span class="text-sm text-grey text-center">
                    <span data-i18n="otp-help">Need help? </span>
                    <a data-i18n="otp-contact-us" class="font-semibold text-primary">Contact us</a>
                </span>
            </div>
        </div>
    </form>
</body>

{{template "footer" .}}