{{template "header" .}}
<body data-event="display-email">
    <form action="/auth/otp/confirm" method="get">
        <div class="intro">
            <div class="card">
                <div class="logo">
                    <img src="/statics/icons/mail.svg" alt="Login Lock" width="24" height="24"/>
                </div>
                <div name="header" class="header">
                    <h2>Check your email</h2>
                    <div class="flex flex-col">
                        <span class="text-grey leading-6">We sent a verification code to</span>
                        <span class="text-primary font-medium leading-6" id="user-email"></span>
                    </div>
                </div>
                <div name="content-section" class="section">
                    <div class="otp-container">
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                        <div class="input-wrapper">
                            <input type="text" class="otp-input" maxlength="1" inputmode="numeric"
                                data-event="otp-input" />
                            <div class="otp-placeholder"></div>
                        </div>
                    </div>
                </div>
                <input type="text" name="code" hidden value="" />
                <input type="text" name="email" hidden value="{{.email}}" />

                <div name="button-section" class="section">
                    <button type="submit" theme="primary" disabled>Verify email</button>
                </div>
                <span class="text-sm text-grey text-center">Didn’t receive the email? <a
                        class="font-semibold text-primary">Click to resend</a></span>
                <div class="steps font-semibold">
                    Can't find the code?
                    <ol class="text-sm font-normal text-grey leading-5">
                        <li>Check your spam folder</li>
                        <li>Make sure you entered the correct email</li>
                        <li>Codes expire after 10 minutes</li>
                    </ol>
                    {{if .error}}
                    <p style="color: red">{{.error}}</p>
                    {{end}}
                </div>
                <span class="text-sm text-grey text-center">Need help? <a class="font-semibold text-primary">Contact
                        us</a></span>
            </div>
        </div>
    </form>
</body>
{{template "footer" .}}