{{template "header" .}}

<body>
    <div class="intro">
        <div class="card">
            <div class="logo">
                <img src="/statics/icons/check-circle.svg" alt="Login Lock" width="24" height="24" />
            </div>
            <div name="header" class="header h-full">
                <h2 data-i18n="set-password-reset-header">Password reset</h2>
                <span data-i18n="set-password-reset-subheader" class="text-grey leading-6">
                    Your password has been successfully reset. Click below to log in magically.
                </span>
            </div>
            <div name="button-section" class="section">
                <a href="/auth/confirm">
                    <button data-i18n="set-password-continue-button" type="submit" theme="primary">Continue</button>
                </a>
            </div>
        </div>
    </div>
</body>

{{template "footer" .}}