{{template "header" .}}

<body>
	{{template "loader" .}}
	<div class="wrapper">
		<div class="custom-select-desktop">
			<div class="input-control" data-event="toggle-lang-dropdown">
				<span id="desktop-selected">English (US)</span>
				<img src="/statics/icons/chevron-down.svg" alt="chevron-down" width="20" height="20" />
			</div>
			<ul id="desktop-options" class="options">
				<li data-value="en" data-event="change-language">English (US)</li>
				<li data-value="ja" data-event="change-language">Japanese 日本語</li>
				<li data-value="es" data-event="change-language">Spanish Español</li>
				<li data-value="ko" data-event="change-language">Korean 한국어</li>
				<li data-value="ar" data-event="change-language">Arabic العربية</li>
				<li data-value="zh-CN" data-event="change-language">Chinese 中文简体</li>
				<li data-value="fr" data-event="change-language">French Français</li>
			</ul>
		</div>
		<div class="intro">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/lock.svg" alt="Login Lock" width="24" height="24" />
				</div>
				<div name="header" class="header">
					<h2 data-i18n="pre-org-register-header">Create your organization</h2>
					<span data-i18n="pre-org-register-subheader" class="text-grey leading-6">
						Create an organization to post jobs and hire
					</span>
				</div>
				<div name="content-section" class="section">
					<div class="steps">
						<div class="step">
							<div class="logo step-logo">
								<img src="/statics/icons/briefcase.svg" alt="step-1" width="24" height="24" />
							</div>
							<div class="step-title">
								<span data-i18n="pre-org-register-opportunity-title"
									class="text-md font-semibold leading-6 text-black">Post opportunities</span>
								<span data-i18n="pre-org-register-opportunity-subtitle">
									Create and manage impact job postings
								</span>
							</div>
						</div>
						<div class="step">
							<div class="logo step-logo">
								<img src="/statics/icons/shield-tick.svg" alt="step-1" width="24" height="24" />
							</div>
							<div class="step-title">
								<span data-i18n="pre-org-register-credential-title"
									class="text-md font-semibold leading-6 text-black">
									Issue verifiable credentials
								</span>
								<span data-i18n="pre-org-register-credential-subtitle">
									Create and issue verified impact credentials to your community
								</span>
							</div>
						</div>
						<div class="step">
							<div class="logo step-logo">
								<img src="/statics/icons/chart.svg" alt="step-1" width="24" height="24" />
							</div>
							<div class="step-title">
								<span data-i18n="pre-org-register-crowdfund-title"
									class="text-md font-semibold leading-6 text-black">Crowdfund your project</span>
								<span data-i18n="pre-org-register-crowdfund-subtitle">
									Launch and manage social impact fundraising campaigns
								</span>
							</div>
						</div>
					</div>
				</div>
				<div name="button-section" class="section">
					<a href="/organizations/register">
						<button data-i18n="pre-org-register-create-button" type="button" theme="primary">
							Create organization
						</button>
					</a>
				</div>
				<div class="custom-select-mobile">
					<div class="input-control" data-event="toggle-lang-dropdown-mobile">
						<span id="mobile-selected">English (US)</span>
						<img src="/statics/icons/chevron-down.svg" alt="chevron-down" width="20" height="20" />
					</div>
					<ul id="mobile-options" class="options">
						<li data-value="en" data-event="change-language">English (US)</li>
						<li data-value="ja" data-event="change-language">Japanese 日本語</li>
						<li data-value="es" data-event="change-language">Spanish Español</li>
						<li data-value="ko" data-event="change-language">Korean 한국어</li>
						<li data-value="ar" data-event="change-language">Arabic العربية</li>
						<li data-value="zh-CN" data-event="change-language">Chinese 中文简体</li>
						<li data-value="fr" data-event="change-language">French Français</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

{{template "footer" .}}