{{template "header" .}}
<body>
	<form method="post">
		<div class="intro">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/mail.svg" alt="Login Lock" width="24" height="24" />
				</div>
				<div name="header" class="header">
					<h2>Set new password</h2>
					<span class="text-grey leading-6"
						>Your new password must be different to previously used passwords.</span
					>
				</div>
				<div name="content-section" class="section">
					<div class="input-label">
						<label for="email">Password</label>
						<div class="input-container">
							<input
								placeholder="Enter a password"
								type="password"
								id="pass"
								name="password"
								autocomplete="current-password"
								oninput="validatePassword()"
							/>
							<img
								src="/statics/icons/eye.svg"
								alt="show-password"
								width="20"
								height="20"
								class="input-end-icon cursor-pointer"
								onclick="togglePassword(this)"
							/>
						</div>
						<div class="input-hints">
							<div class="flex items-center gap-2">
								<img src="/statics/icons/check-grey.svg" width="20" height="20" id="length-hint" />
								Must be at least 8 characters
							</div>
							<div class="flex items-center gap-2">
								<img src="/statics/icons/check-grey.svg" width="20" height="20" id="character-hint" />
								Must contain one special character
							</div>
						</div>
					</div>
					<div class="input-label">
						<label for="email">Confirm password</label>
						<div class="input-container">
							<input
								placeholder="Enter a password"
								type="password"
								id="confirm-pass"
								name="confirm-pass"
								autocomplete="current-password"
								oninput="validatePassword()"
							/>
							<img
								src="/statics/icons/eye.svg"
								alt="show-password"
								width="20"
								height="20"
								class="input-end-icon cursor-pointer"
								onclick="togglePassword(this)"
							/>
						</div>
					</div>
				</div>
				<div name="button-section" class="section">
					<button type="submit" theme="primary" disabled>Reset Password</button>
					<a href="/auth/login">
						<button type="button" theme="grey-text">
							<img src="/statics/icons/arrow-left.svg" width="20" height="20" />
							Back to sign in
						</button>
					</a>
					{{if .error}}
                    <p style="color: red">{{.error}}</p>
                    {{end}}
				</div>
			</div>
		</div>
	</form>
</body>
{{template "footer" .}}
