{{template "header" .}}

<body>
	{{template "loader" .}}
	<form method="post">
		<div class="intro">
			<div class="card">
				<div class="logo">
					<img src="/statics/icons/mail.svg" alt="Login Lock" width="24" height="24"/>
				</div>
				<div name="header" class="header">
					<h2 data-i18n="set-password-header">Set new password</h2>
					<span data-i18n="set-password-subheader" class="text-grey leading-6">
						Your new password must be different to previously used passwords.
					</span>
				</div>
				<div name="content-section" class="section">
					<div class="input-label">
						<label data-i18n="set-password-label" for="pass">Password</label>
						<div class="input-container">
							<input
								data-i18n-placeholder="set-password-placeholder"
								placeholder="Enter a password"
								type="password"
								id="pass"
								name="password"
								autocomplete="current-password"
								data-event="validate-password"
							/>
							<img
								src="/statics/icons/eye.svg"
								alt="show-password"
								width="20"
								height="20"
								class="input-end-icon cursor-pointer"
								data-event="toggle-password"
							/>
						</div>
						<div class="input-hints">
							<div class="flex items-center gap-2">
								<img src="/statics/icons/check-grey.svg" width="20" height="20" id="length-hint" />
								<span data-i18n="set-password-hint1">Must be at least 8 characters</span>
							</div>
							<div class="flex items-center gap-2">
								<img src="/statics/icons/check-grey.svg" width="20" height="20" id="character-hint" />
								<span data-i18n="set-password-hint2">Must contain one special character</span>
							</div>
						</div>
					</div>
					<div class="input-label">
						<label data-i18n="set-password-confirm" for="confirm-pass">Confirm password</label>
						<div class="input-container">
							<input
								data-i18n-placeholder="set-password-confirm-placeholder"
								placeholder="Enter a password"
								type="password"
								id="confirm-pass"
								name="confirm-pass"
								autocomplete="current-password"
								data-event="validate-password"
							/>
							<img
								src="/statics/icons/eye.svg"
								alt="show-password"
								width="20"
								height="20"
								class="input-end-icon cursor-pointer"
								data-event="toggle-password"
							/>
						</div>
					</div>
				</div>
				<div name="button-section" class="section">
					<button data-i18n="set-password-create-button" type="submit" theme="primary" disabled>Reset
						Password</button>
					<a href="/auth/login">
						<button type="button" theme="grey-text">
							<img src="/statics/icons/arrow-left.svg" width="20" height="20" />
							<span data-i18n="set-password-back-signin">Back to sign in</span>
						</button>
					</a>
					{{if .error}}
					<p style="color: red">{{.error}}</p>
					{{end}}
				</div>
			</div>
		</div>
	</form>
</body>

{{template "footer" .}}