{{template "header" .}}

<body>
    {{template "loader" .}}
        <div class="intro">
            <div class="card">
                <div name="content-section" class="section">
                    <div name="header" class="header">
                        <h2 data-i18n="profile-header">Create your profile</h2>
                        <span data-i18n="profile-subheader" class="text-grey leading-6">Tell us about yourself</span>
                    </div>
                    <div class="upload">
                        <img id="avatar" src="/statics/images/avatar.svg" alt="avatar" width="64" height="64"
                            class="upload-img" />
                        <span data-i18n="profile-add-photo" class="text-grey text-sm leading-5">
                            Add a photo (optional)
                        </span>
                        <input id="upload" type="file" class="upload-input" data-event="on-upload-avatar" />
                        <input id="avatar-id" hidden type="text" />
                    </div>
                    <div class="input-groups">
                        <div class="input-label">
                            <label data-i18n="profile-first-name" for="first">First name</label>
                            <input data-i18n-placeholder="profile-first-name-placeholder" placeholder="Your first name"
                                type="text" id="first" name="first_name" data-event="validate-form" />
                        </div>
                        <div class="input-label">
                            <label data-i18n="profile-last-name" for="last">Last name</label>
                            <input data-i18n-placeholder="profile-last-name-placeholder" placeholder="Your last name"
                                type="text" id="last" name="last_name" data-event="validate-form" />
                        </div>
                    </div>
                    <div class="input-label">
                        <label data-i18n="profile-username" for="username">Username</label>
                        <input data-i18n-placeholder="profile-username-placeholder" placeholder="Choose a username"
                            type="text" id="username" name="username" pattern="^[a-z0-9_]+$" minlength="6"
                            maxlength="24" data-event="validate-form" />
                        <span data-i18n="profile-username-hint" class="input-hints">This will be your unique identifier
                            across all platforms</span>
                        <span data-i18n="profile-username-error" id="username-error" class="error-message">
                            Username must be 6–24 characters and can only contain lowercase letters, numbers, and
                            underscores (no spaces, dashes, dots, or uppercase letters).
                        </span>
                    </div>
                    <div class="input-label">
                        <label data-i18n="profile-password" for="pass">Password</label>
                        <div class="input-container">
                            <input data-i18n-placeholder="profile-password-placeholder" placeholder="Create a password"
                                type="password" id="pass" name="password" autocomplete="current-password"
                                data-event="validate-form" />
                            <img src="/statics/icons/eye.svg" alt="show-password" width="20" height="20"
                                class="input-end-icon cursor-pointer" data-event="toggle-password" />
                        </div>
                        <div class="input-hints">
                            <div class="flex items-center gap-2">
                                <img src="/statics/icons/check-grey.svg" width="20" height="20" id="length-hint" />
                                <span data-i18n="profile-password-hint1">Must be at least 8 characters</span>
                            </div>
                            <div class="flex items-center gap-2">
                                <img src="/statics/icons/check-grey.svg" width="20" height="20" id="character-hint" />
                                <span data-i18n="profile-password-hint2">Must contain one special character</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div name="button-section" class="section">
                    <button data-i18n="profile-create-button" data-event="on-submit-profile" theme="primary" disabled>Create profile</button>
                </div>
                <p id="error">
                    {{.error}}
                </p>
            </div>
        </div>
</body>

{{ template "footer" . }}