{{template "header" .}}

<body>
        <div class="intro">
            <div class="card">
                <div name="content-section" class="section">
                    <div name="header" class="header">
                        <h2>Create your profile</h2>
                        <span class="text-grey leading-6">Tell us about yourself</span>
                    </div>
                    <div class="upload">
                        <img id="avatar" src="/statics/images/avatar.svg" alt="avatar" width="64" height="64"
                            class="upload-img" nonce="{{.nonce}}" />
                        <span class="text-grey text-sm leading-5">Add a photo (optional)</span>
                        <input id="upload" type="file" class="upload-input" data-event="on-upload-avatar" />
                        <input id="avatar-id" hidden type="text" />
                    </div>
                    <div class="input-groups">
                        <div class="input-label">
                            <label for="email">First name</label>
                            <input placeholder="Your first name" type="text" id="first" name="first_name"
                                data-event="validate-form" />
                        </div>
                        <div class="input-label">
                            <label for="email">Last name</label>
                            <input placeholder="Your last name" type="text" id="last" name="last_name"
                                data-event="validate-form" />
                        </div>
                    </div>
                    <div class="input-label">
                        <label for="email">Username</label>
                        <input placeholder="Choose a username" type="text" id="username" name="username"
                            pattern="^[a-z0-9_]+$" minlength="6" maxlength="24" data-event="validate-form" />
                        <span class="input-hints">This will be your unique identifier across all platforms</span>
                        <span id="username-error" class="error-message" style="display: none;">
                            Username must be 6–24 characters and can only contain lowercase letters, numbers, and
                            underscores (no spaces, dashes, dots, or uppercase letters).
                        </span>
                    </div>
                    <div class="input-label">
                        <label for="email">Password</label>
                        <div class="input-container">
                            <input placeholder="Create a password" type="password" id="pass" name="password"
                                autocomplete="current-password" data-event="validate-form" />
                            <img src="/statics/icons/eye.svg" alt="show-password" width="20" height="20"
                                class="input-end-icon cursor-pointer" data-event="toggle-password"  nonce="{{.nonce}}"/>
                        </div>
                        <div class="input-hints">
                            <div class="flex items-center gap-2">
                                <img src="/statics/icons/check-grey.svg" width="20" height="20" id="length-hint" nonce="{{.nonce}}" />
                                Must be at least 8 characters
                            </div>
                            <div class="flex items-center gap-2">
                                <img src="/statics/icons/check-grey.svg" width="20" height="20" id="character-hint" nonce="{{.nonce}}" />
                                Must contain one special character
                            </div>
                        </div>
                    </div>
                </div>
                <div name="button-section" class="section">
                    <button data-event="on-submit-profile" theme="primary" disabled>Create profile</button>
                </div>
                <p id="error" style="color: red">
                    {{.error}}
                </p>
            </div>
        </div>
</body>

{{ template "footer" . }}