.consent-account-label {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--color-grey-700);

    .consent-account {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.75rem;
        padding: 0.75rem 1rem;
        background-color: white;
        border: 1px solid var(--color-grey-200);
        border-radius: 8px;

        .consent-account-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-weight: 500;
        }

        .consent-account-email {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--color-grey-600);
        }
    }

    .consent-accounts {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border: 1px solid var(--color-grey-200);
        border-radius: 8px;
        max-height: 132px;
        overflow-y: auto;

        .consent-account {
            border: none;

            &+.consent-account {
                border-top: 1px solid var(--color-grey-200);
            }
        }
    }
}